body{
    margin: 0;
    padding: 0;
}

.button{
    margin: 32px;
    background-color: green;
    height: 75px;
    width: 75px;
    border-radius: 100%;

    
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 500;
}

.button:hover{
    background-color: rgb(121, 197, 125);
}

#win{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(red, green rgb(80, 80, 103));
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
